.div
{
    background-color: aquamarine;
}

ul{
display: flex;
justify-content: end;
gap: 10px;
margin-right: 50px;
list-style-type: none; 
}

li *
{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#main{
    text-align: center;
}

.home-div{
    display: flex;
    margin-left: 200px;
}

.image{
    margin-right: 50px;
}

img{
    width: 400px;
}

.product-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 12px 0;
    color: #1d1d1f;
}

.product-description {
    font-size: 14px;
    line-height: 1.5;
    color: #86868b;
    margin-bottom: 24px;
}


